{% extends 'blog/backend_base.html' %}

{% block blog_left %}
    <div class="list-group">
        <a href="JavaScript:void(0)" class="list-group-item active">操作</a>
        <a href="{% url 'article_add' %}" class="list-group-item">添加新文章</a>
        <a href="JavaScript:void(0)" class="list-group-item">草稿箱</a>
        <a href="JavaScript:void(0)" class="list-group-item">设置默认编辑器</a>
        <a href="JavaScript:void(0)" class="list-group-item">备份文章</a>
    </div>
    <div class="list-group">
        <a href="JavaScript:void(0)" class="list-group-item active">分类</a>
        <a href="{% url 'category_add' %}" class="list-group-item">添加分类</a>
        <a href="JavaScript:void(0)" class="list-group-item">编辑分类</a>
        <a href="JavaScript:void(0)" class="list-group-item">所有分类</a>
        <a href="JavaScript:void(0)" class="list-group-item">未分类</a>
    </div>

{% endblock %}

{% block article %}
    <h1>文章添加</h1>
    <hr>
    <form action="" method="post">
        <h3>标题</h3>
        {% csrf_token %}
        <input type="text" style="width: 100%;" class="title">
        <h3>内容(KindEdit编辑器，不支持拖放/粘贴上传图片)</h3>
        <textarea name="article_content" id="article_content" class="content"></textarea>
        <h3>个人分类</h3>
        <select class="category">
            <option value="">==请选择==</option>
            {% for foo in request.user.blog.category_set.all %}
                <option value="{{ foo.nid }}">{{ foo.title }}</option>
            {% endfor %}
        </select>
        <h3>Tag标签</h3>
        <input type="text" style="width: 500px;" class="tag"><span>多个标签以 , 分隔开</span>
    </form>
    <div style="margin-top: 20px;">

        <button type="button" class="col-md-1 btn btn-warning btn-md article_add_btn">发布</button>


        <a href="{% url 'backend' %}">
            <button type="button" class="col-md-1 col-md-offset-1 btn btn-warning btn-md">取消</button>
        </a>


    </div>
    <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
    <script>

        KindEditor.ready(function(K) {
                window.editor = K.create('#article_content',{
                    width:'100%',
                    height:'500px',
                    resizeType:0,
                    uploadJson:'/upload_img/',
                    extraFileUploadParams:{'csrfmiddlewaretoken':'{{ csrf_token }}'},
                    filePostName:'myfile'
                });
        });
        $('.article_add_btn').on('click', function () {
            editor.sync();
            var title = $('.title').val();
            var content = $('.content').val();
            var tag = $('.tag').val();
            var user=$('.category').val();
            console.log(tag);
            console.log(content);
            var ariticle_info = {
                'title':title,
                'content':content,
                'tag':tag,
                'category':user,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            };
            $.ajax({
                url:'/article_add/',
                type:'post',
                data:ariticle_info,
                success:function (data) {
                    console.log(data);
                    location.href = data.url
                }

            })
    })
    </script>
{% endblock %}